.body {
  font-family: "Roboto", sans-serif;
  color: var(--title-text-color);
  background-color: var(--primary-white-color);
  font-size: 14px;
  font-style: normal;
  letter-spacing: 0.03em;
}

img {
  display: block;
}

:root {
  --border-bottom-color: #ececec;
  --border-box: #eeeeee;
  --gray-bgr-color: #2f303a;
  --primary-black-color: #000000;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-white-color: #ffffff;
  --gray-text-color: #757575;
  --command-bgr-color: #f5f4fa;
  --social-icons-color: #afb1b8;
  --animation-direction-color: #989898;
  --bg-modal: rgba(0, 0, 0, 0.2);
}

P,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

a {
  text-decoration: none;
  font-style: normal;
  margin: 0;
  padding: 0;
  list-style: none;
  list-style: none;
  position: relative;
}

.link {
  text-decoration: none;
  color: currentColor;
  position: relative;
}

/* WebStudio logo*/

.logo-link {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
  background: var(--primary-white-color);
  margin-right: 93px;
  padding-top: 24px;
  padding-bottom: 25px;
}

.header-logo-blue {
  color: var(--accent-color);
}

.header-logo-black {
  color: var(--primary-black-color);
}

/* Header */

.header {
  border-bottom: 1px solid var(--border-box);
}

.link:hover,
.link:focus,
.current {
  color: var(--accent-color);
  padding-top: 32px;
  padding-bottom: 32px;
  list-style: none;
}

.current.header-bt-list::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-color);
  border-radius: 2px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  display: flex;
  align-items: center;
}

.header-contakts-list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  list-style-type: none;
  color: var(--gray-text-color);
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-item-list:not(:last-child) {
  margin-right: 50px;
}

.header-connect {
  margin-left: auto;
}

.header-bt-list {
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.link-icon {
  margin-right: 10px;
  fill: currentColor;
}

.contacts-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* hero*/

.hero-button {
  font-family: Roboto, sans-serif;
  font-style: normal;
  font-family: inherit;
  font-size: inherit;
  min-width: 200px;
  height: 50px;
  letter-spacing: 0.06em;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: var(--accent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--primary-white-color);
  border: none;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.hero {
  background-color: var(--gray-bgr-color);
  padding: 200px 0;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  max-width: 1600px;
  height: 600px;
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/Img-hero.jpg);
  background-repeat: no-repeat;
}

.hero-text {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  width: 696px;
  margin: 0px auto 30px auto;
  color: var(--primary-white-color);
  text-transform: uppercase;
}

/* modal*/

.backdrop {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  width: 100%;
  height: 100%;
  margin-left: auto;
  margin-right: auto;
  background: rgba(0, 0, 0, 0.2);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  opacity: 1;
  visibility: visible;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  min-width: 528px;
  min-height: 581px;
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-close {
  position: absolute;
  top: 8px;
  right: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background: transparent;
  cursor: pointer;
}

.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  visibility: hidden;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}

.button-close:focus,
.button-close:hover {
  fill: var(--accent-color);
}

.icon-close {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  margin-bottom: 16px;
  margin-top: 0;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  color: var(--title-text-color);
}

.modal-form {
  padding: 40px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.form {
  display: flex;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  margin-top: 0;
  padding: 0;
  width: 100%;
}

.form-field {
  position: relative;
  padding: 0;
}

.form-field:not(:last-child) {
  margin-bottom: 10px;
}

.form-input {
  width: 100%;
  height: 40px;
  margin: 0;
  padding: 0;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  padding-left: 35px;
  cursor: pointer;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-input {
  position: absolute;
  top: 50%;
  left: 12px;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus + .icon-input {
  fill: var(--accent-color);
}

.form-input:focus,
.form-field textarea:focus {
  outline: none;
  border: 1px solid var(--accent-color);
}

.form-label {
  display: block;
  margin-bottom: 4px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: var(--gray-text-color);
}

.form-field textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: rgba(117, 117, 117, 0.5);
}

textarea {
  width: 100%;
  resize: none;
  height: 120px;
  padding: 12px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  cursor: pointer;
}

.checkbox {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.icon-span {
  width: 16px;
  height: 15px;
  margin-right: 7px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
}

.icon-span-text {
  color: var(--gray-text-color);
}

.checkbox:checked + .icon-span {
  background-color: var(--accent-color);
  background-image: url("../images/icons/icon-check-blue.svg");
  background-size: contain;
  background-origin: border-box;
  border-color: var(--accent-color);
  background-repeat: no-repeat;
}

.label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 14px;
  line-height: 1.71;
  color: var(--title-text-color);
}

.policy-link {
  display: inline;
  color: var(--accent-color);
  margin-left: 3px;
  text-decoration: underline;
}

.modal-button {
  margin: 0 auto;
  padding: 10px 32px;
  border-radius: 4px;
  border: 1px solid var(--accent-color);
  min-width: 200px;
  min-height: 50px;
  color: var(--white-color);
  background-color: var(--accent-color);
  cursor: pointer;
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
}

.modal-button.submit {
  padding: 10px 55px;
  color: var(--primary-white-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

/*company features*/

.list-work-company {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.company-features {
  visibility: hidden;
}

.peculiarity-header {
  color: var(--title-text-color);
  text-decoration: none;
  list-style-type: none;
  text-transform: uppercase;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  line-height: 1.14;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
}

.peculiarity-text {
  color: var(--gray-text-color);
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  max-width: 270px;
}

.peculiarity-logo {
  display: flex;
  height: 120px;
  width: 270px;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #f5f4fa;
  border-radius: 4px;
}

.peculiarity-icons {
  background: #f5f4fa;
  border-radius: 4px;
}

/*work-studio*/

section.sectionwork {
  padding-top: 0;
}

.work-studio {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  text-align: center;
}

.photo-studio {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
}

.img-wrapper {
  position: relative;
}

.bg-wrapper {
  position: absolute;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
}

.text-img {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-white-color);
}

/*Works company*/

.command {
  background-color: var(--command-bgr-color);
}

.command-header {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  text-align: center;
  margin-bottom: 50px;
}

.list-command {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;

  gap: 30px;
}

.list-command-border {
  background: var(--primary-white-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-wrapper {
  padding-top: 30px;
  padding-bottom: 30px;
}

.name-works {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 10px;
  text-align: center;
  color: var(--title-text-color);
}

.profession-works {
  font-family: "Roboto";
  font-style: normal;
  font-size: 16px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  font-weight: 400;
  margin-bottom: 16px;
  text-align: center;
  color: var(--gray-text-color);
}

.socials-icons-list {
  display: flex;
  justify-content: center;
}

.socials-icons:not(last-child) {
  margin-right: 10px;
}

.socials-media-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--primary-white-color);
  color: var(--social-icons-color);
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-icons {
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.socials-media-link:hover,
.socials-media-link:focus {
  color: var(--primary-white-color);
  background-color: var(--accent-color);
}

.socials-icons-logo {
  fill: currentColor;
}

/*

/* clients-studio */

.clients-studio {
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.client-list {
  display: flex;
}

.client-icons:not(:last-child) {
  margin-right: 30px;
}

.company-media-link {
  display: flex;
  box-sizing: border-box;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.company-media-link:hover,
.company-media-link:focus {
  color: var(--accent-color);
  border-color: var(--accent-color);
}

.logo-company {
  fill: currentColor;
}

/* portfolio company*/

.list-filters {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 8px;
  margin-bottom: 50px;
}

.button-filter {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  font-family: "Roboto";
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  letter-spacing: 0.03em;
  background: #f5f4fa;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  padding: 6px 22px;
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.button-filter:hover,
.button-filter:focus {
  cursor: pointer;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-container {
  text-decoration: none;
}

.portfolio-link:hover,
.portfolio-link:focus {
  display: block;
  text-decoration: none;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.list-portfolio {
  list-style-type: none;
  text-decoration: none;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.header-portfolio {
  text-decoration: none;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-text-color);
  text-align: left;
  vertical-align: top;
  margin-top: 0px;
  margin-bottom: 4px;
}

.text-portfolio {
  text-decoration: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--gray-text-color);
  text-align: left;
  vertical-align: top;
  margin: 0px;
}

.text-box {
  padding: 20px 20px;
  border-right: 1px solid var(--border-box);
  border-bottom: 1px solid var(--border-box);
  border-left: 1px solid var(--border-box);
  text-decoration: none;
}

.cards-portfolio {
  text-decoration: none;
}

.owerflow-hidden {
  overflow: hidden;
  position: relative;
  text-decoration: none;
}

.portfolio-overlay {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  width: 100%;
  height: 100%;
  background-color: rgba(33, 150, 243, 0.9);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  padding: 63px 24px;
}

.cards-portfolio:hover .portfolio-overlay {
  transform: translateY(0);
}

.portfolio-desc {
  max-width: 370px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* footer */

.footer {
  background: var(--gray-bgr-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo-footer {
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.footer-logo-blue {
  color: var(--accent-color);
}

.footer-logo-white {
  color: var(--primary-white-color);
}

.footer-text {
  font-style: normal;
  margin-top: 20px;
}

.footer-address {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}

.footer-contacts {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  list-style-type: none;
  text-decoration: none;
}

.footer-contacts-list:not(last-child) {
  margin-top: 9px;
}

li.mail {
  margin-top: 9px;
  margin-bottom: 9px;
}

.footer-title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 20px;
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-social-icons {
  margin-left: 70px;
  margin-right: 93px;
}

.footer-icons-list {
  display: flex;
  justify-content: center;
}

.footer-icons:not(last-child) {
  margin-right: 10px;
}

.footer-icons-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;

  background-color: rgba(255, 255, 255, 0.1);
  transition-property: var(--accent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-icons-logo {
  fill: var(--primary-white-color);
}

.footer-icons-link:hover,
.footer-icons-link:focus {
  background-color: var(--accent-color);
}

.subs-footer {
  min-height: 86px;
  min-width: 570px;
}

.footer-title {
  text-transform: uppercase;
}

.footer-form {
  display: flex;
  margin-top: 20px;
}

.footer-mail-input {
  padding-left: 16px;
  width: 349px;
  height: 50px;
  color: var(--primary-white-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
  background-color: transparent;
  outline: none;
}

.send-icon {
  text-align: center;
  vertical-align: middle;
  margin-left: 10px;
}

.footer-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 10px;
  margin-top: 0;
  box-sizing: border-box;
  min-width: 200px;
  height: 50px;
  font-family: Roboto, sans-serif;
  font-style: normal;
  color: var(--primary-white-color);
  background-color: var(--accent-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  text-align: center;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  border: none;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 15%);
  border-radius: 4px;
}

.footer-button:hover,
.footer-button:focus {
  cursor: pointer;
}
